*.zwc
nvim/plugin/_compiled.lua
zsh/.antigen/.zcompdump

antigen/src
antigen/tests
antigen/tools

antigen/antigen.zsh
antigen/CHANGELOG.md
antigen/CODE_OF_CONDUCT.md
antigen/configure
antigen/CONTRIBUTING.md
antigen/ISSUE_TEMPLATE.md
antigen/LICENSE
antigen/Makefile
antigen/Makefile.in
antigen/README.mkd
antigen/VERSION
